.custom-form {
    max-width: 644px;
    max-height: 687px;
    top: 80px;
    left: 398.5px;
    padding: 32px 64px 32px 64px;
    border-radius: 16px;
    gap: 40px
}

.form-label {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(105, 101, 89, 1);
}

.form-input {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 15px;
    border-radius: 8px;
    border: 1px;
    gap: 8px;
    color: rgba(35, 35, 35, 1);
    background: rgba(255, 255, 255, 1);
}

.form-error {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.textarea-limit {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(105, 101, 89, 1);
    margin-top: 8px;
}

.textarea::-webkit-scrollbar {
    display: none;
}
.textarea {
    -ms-overflow-style: none;  /* IE Ð¸ Edge */
    scrollbar-width: none;  /* Firefox */
  }